.row.inside .columns article {
	ul.bios {
		li {
			list-style: none;
			border-top:1px solid $grey;
			padding:25px 0px 35px;
			hgroup{
				h1{font-size:24px;color:$blue;@include accord-light;}
				h2{font-size:16px;color:$grey;@include erato;text-transform:none;line-height:1.4em;}
			}
		}
	}
}
